.vditor-reset.editor-container.git-book {
  .vditor-toolbar__item {
    margin-right: 6px;

    svg {
      width: 15px;
      height: 15px;
      stroke-width: none;
    }
  }
  .vditor-toolbar__divider {
    margin: var(--toolbar-divider-margin-top) 12px var(--toolbar-divider-margin-top) 6px;
  }
  .vditor-content {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    color: #3b454e;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;

    p,
    blockquote,
    ul,
    ol,
    dl {
      margin: 0.5rem 0 1.5rem;
    }

    ul,
    ol {
      padding-left: 30px;
    }

    li > ol,
    li > ul {
      margin: 0;
    }

    ul:first-child,
    ol:first-child {
      margin-top: 0;
    }

    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }

    .vditor-ir__link,
    a {
      color: #1968e6;
      text-decoration: none !important;
      transition-duration: 0.2s;
      transition-property: color;
    }

    a:hover {
      color: #1968e6;
    }

    img {
      max-width: calc(100% - 32px);
    }

    p > img {
      margin: 34px 0;
      box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
    }

    code {
      padding: 0.2rem 0.4rem;
      font-size: 0.9rem;
      background-color: #e6ecf1;
      border-radius: 0.2rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      color: var(--heading-text-color);
      cursor: text;
    }

    h1:hover a.anchor,
    h2:hover a.anchor,
    h3:hover a.anchor,
    h4:hover a.anchor,
    h5:hover a.anchor,
    h6:hover a.anchor {
      text-decoration: none;
    }

    h1 tt,
    h1 code {
      font-size: inherit;
    }

    h2 tt,
    h2 code {
      font-size: inherit;
    }

    h3 tt,
    h3 code {
      font-size: inherit;
    }

    h4 tt,
    h4 code {
      font-size: inherit;
    }

    h5 tt,
    h5 code {
      font-size: inherit;
    }

    h6 tt,
    h6 code {
      font-size: inherit;
    }

    h1 {
      padding-bottom: 0.2rem;
      margin-top: 3rem;
      margin-bottom: 0.5rem;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.5;
      border-bottom: solid 1px var(--borders);
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 1.5;
    }

    h3 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.5;
    }

    h4 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.15rem;
      font-weight: 700;
      line-height: 1.5;
    }

    h5 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.95rem;
      font-weight: 700;
      line-height: 1.5;
    }

    h6 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.95rem;
      font-weight: 400;
      line-height: 1.5;
    }

    hr {
      box-sizing: content-box;
      height: 1px;
      padding: 0;
      margin: 16px 0;
      overflow: hidden;
      background-color: var(--borders);
      border: 0 none;
    }

    li p.first {
      display: inline-block;
    }

    ol li {
      list-style: decimal;
    }
    ul li {
      list-style: disc;
      li {
        list-style: circle;
        li {
          list-style: square;
        }
      }
    }

    blockquote {
      width: 100%;
      padding: 1rem;
      background-color: #f5f7f9;
      border-left: 4px solid #001f50;
      border-radius: 0.3rem;
    }

    blockquote blockquote {
      padding-right: 0;
    }

    pre pre {
      font-family: 'Source Code Pro';
      border-radius: 2px;
    }

    .language-abc path,
    .language-abc svg {
      color: rgba(0, 0, 0, 0.85);
      fill: currentColor;
    }

    .language-graphviz polygon {
      fill: transparent;
    }

    b,
    strong {
      font-weight: bold;
    }

    table {
      padding: 0;
      margin: 1.5rem 0;
      font-size: 0.875rem;
      word-break: initial;
    }

    table tr {
      padding: 0;
      margin: 0;
      border-top: 1px solid #e6ecf1;
      border-bottom: 1px solid #e6ecf1;
    }

    table tr.md-end-block {
      border-top: none;
    }

    table tbody tr:last-child {
      border-bottom: none;
    }

    table tr th {
      padding: 10px 16px;
      margin: 0;
      font-weight: bold;
      border: none;
      border-bottom: solid 2px #e6ecf1;
      transition-duration: 0.3s;
      transition-property: background-color;
    }

    table tr td {
      padding: 10px 16px;
      margin: 0;
      border: none;
      transition-duration: 0.3s;
      transition-property: background-color;
    }

    table tr th:first-child,
    table tr td:first-child {
      margin-top: 0;
    }

    table tr th:last-child,
    table tr td:last-child {
      margin-bottom: 0;
    }

    table tr td:hover,
    table tr th:hover {
      background-color: #f5f7f9;
    }

    .vditor-anchor {
      margin-left: 8px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    h1:hover .vditor-anchor,
    h2:hover .vditor-anchor,
    h3:hover .vditor-anchor,
    h4:hover .vditor-anchor,
    h5:hover .vditor-anchor,
    h6:hover .vditor-anchor {
      display: inline-block;
      text-decoration: none;
      opacity: 1;
    }

    > br,
    > p > br {
      clear: both;
    }
  }
}
